*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
    
}

body {
    background-image: url(../T.VACACIONES/img3/desktop-wallpaper-bakery-world-baking-day.jpg);
    font-family: Arial, Helvetica, sans-serif;
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

form{
    background-color: #4a4a53;
    display: flex;
    flex-direction: column;
    padding: 50px;
    width: 420px;
    box-shadow: 0 0 20px green(0,0,0,0.2);
    text-align: center;
}

form h2 {
    font-size: 30px;
    color: #edf0f0;
    margin-bottom: 35px;
}

input {
    padding: 17px;
    border-radius: 25px;
    background-color: transparent;
    border: 2px solid #f30404;
    margin-bottom: 30px;
    outline: none;
    color: #ffffff;
    font-size: 16px;
}

::placeholder {
    color: #89879B;
}

.btn {
    background-color: #e53854;
    border: 2px solid #e53854;
    cursor: pointer;
}

.btn:hover {
    background-color: #f33f5a;
    border: 2px solid #f33f5a;
}

@media(max-width:991px) {

    body {
        padding: 30px;
    }

    form {
        width: 340px;
    }
}
a{
    
    background-color: #d79b9b;
    
    padding: 17px;
    border-radius: 25px;
    background-color: transparent;
    border: 2px solid #f30404;
    margin-bottom: 30px;
    outline: none;
    color: #ffffff;
    font-size: 16px;
}
